.h1 {
	position: absolute;
	top: -61px;
	left: 0px;
	font-family: 'Archivo Black', sans-serif;
	font-size: 92px;
	color: white;
	font-weight: bold;
	line-height: 76px;
}

.image1 {
	position: absolute;
	top: 105px;
	left: 1px;
	width: 100vw;
}

.intro {
	position: absolute;
	top: 667px;
	left: 13px;
	font-family: 'Playfair Display', serif;
	color: white;
	width: 350px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

.image2 {
	position: absolute;
	top: 1260px;
	left: 1px;
	width: 100vw;
	opacity: 65%;
}

.p2 {
	position: absolute;
	top: 1470px;
	left: 13px;
	font-family: 'Playfair Display', serif;
	color: white;
	width: 350px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;

}

.image3 {
	position: absolute;
	top: 2086px;
	left: 1px;
	width: 100vw;
	opacity: 90%;
}

.image4 {
	position: absolute;
	top: 2487px;
	left: 163px;
	width: 50px;
	height: 50px;
}

.image5 {
	position: absolute;
	top: 2562px;
}

.image6 {
	position: absolute;
	top: 2626px;
}

.image7 {
	position: absolute;
	top: 2690px;
}

.image8 {
	position: absolute;
	top: 2780px;
	left: 171px;
	width: 40px;
	height: 60px;
}

body {
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;
}

html {
  background-color: black; 
}