.icon1 {
	position: absolute;
	top: 94px;
	left: 146px;
}

.icon2 {
	position: absolute;
	top: 130px;
	left: 260px;
}

.icon3 {
	position: absolute;
	top: 20px;
	left: 370px;
}

.icon4 {
	position: absolute;
	top: 330px;
	left: 352px;
}

.icon5 {
	position: absolute;
	top: 250px;
	left: 320px;
}

.icon6 {
	position: absolute;
	top: 170px;
	left: 120px;
}

.icon7 {
	position: absolute;
	top: 0px;
	left: 220px;
}


.icon8 {
	position: absolute;
	top: 190px;
	left: 10px;
}

.icon9 {
	position: absolute;
	top: 310px;
	left: 100px;
}

.icon10 {
	position: absolute;
	top: 0px;
	left: 40px;
}

.icon11 {
	position: absolute;
	top: 80px;
	left: 30px;
}

.icon12 {
	position: absolute;
	top: 350px;
	left: 40px;
}

.icon13 {
	position: absolute;
	top: 310px;
	left: 200px;
}

.icon14 {
	position: absolute;
	top: 450px;
	left: 100px;
}

.icon15 {
	position: absolute;
	top: 440px;
	left: 270px;
}

.icon16 {
	position: absolute;
	top: 530px;
	left: 20px;
}

.icon17 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon18 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon19 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon20 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon21 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon22 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon23 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon24 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon25 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.icon26 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.afp {
	position: absolute;
	color: rgb(255,255,255);
	width: 400px;
	height: 400px;
	left: 500px;
	top: 758px;
	line-height: 28px;
	font-size: 20px;
	font-family: Futura;
	text-align: center;
}

.af {
	position: absolute;
	top: 35px;
	left: 470px;
}

.br {
	position: absolute;
	top: 30px;
	left: 120px;
}

.pbr {
	position: absolute;
	top: 24px;
	left: 631px;
	width: 300px;
	height: 400px;
	color: rgb(255,255,255);
	line-height: 25px;
	font-family: Futura;
}

.bar1 {
	position: absolute;
	background-color: rgb(255,255,255);
	width: 300px;
	height: 4px;
	left: 632px;
	top: 30px;
}

.bar2 {
	position: absolute;
	background-color: rgb(255,255,255);
	width: 300px;
	height: 4px;
	left: 632px;
	top: 723px;
}

.background {
	position: absolute;
	background-image: url("bohemianrhapsody.jpg");
}

