.icon1 {
	position: absolute;
	top: 100px;
	left: 300px;
}

.icon2 {
	position: absolute;
	top: 100px;
	left: 600px;
}

.icon3 {
	position: absolute;
	top: 100px;
	left: 890px;
}

p {
	position: absolute;
	color: rgb(255,255,255);
	width: 400px;
	height: 400px;
	left: 600px;
	line-height: 20px;
}

