h1{
	position: absolute;
	font-family: Futura;
	color: rgb(221,160,221);
	top: 290px;
	left: 625px;
}

h3 {
	position: absolute;
	text-align: center;
	font-family: Verdana;
	color: rgb(216,191,216);
	top: 340px;
	left: 512px;
}

.icon1 {
	position: absolute;
	top: 94px;
	left: 146px;
}

.icon2 {
	position: absolute;
	top: 130px;
	left: 820px;
}

.icon3 {
	position: absolute;
	top: 20px;
	left: 370px;
}

.icon4 {
	position: absolute;
	top: 410px;
	left: 352px;
}

.icon5 {
	position: absolute;
	top: 30px;
	left: 1160px;
}

.icon6 {
	position: absolute;
	top: 120px;
	left: 1010px;
}

.icon7 {
	position: absolute;
	top: 460px;
	left: 690px;
}


.icon8 {
	position: absolute;
	top: 190px;
	left: 320px;
}

.icon9 {
	position: absolute;
	top: 390px;
	left: 1260px;
}

.icon10 {
	position: absolute;
	top: 630px;
	left: 1260px;
}

.icon11 {
	position: absolute;
	top: 140px;
	left: 500px;
}

.icon12 {
	position: absolute;
	top: 80px;
	left: 1360px;
}

.icon13 {
	position: absolute;
	top: 310px;
	left: 200px;
}

.icon14 {
	position: absolute;
	top: 190px;
	left: 50px;
}

.icon15 {
	position: absolute;
	top: 430px;
	left: 960px;
}

.icon16 {
	position: absolute;
	top: 640px;
	left: 580px;
}

.icon17 {
	position: absolute;
	top: 550px;
	left: 130px;
}

.icon18 {
	position: absolute;
	top: 600px;
	left: 360px;
}

.icon19 {
	position: absolute;
	top: 570px;
	left: 779px;
}

.icon20 {
	position: absolute;
	top: 570px;
	left: 1140px;
}

.icon21 {
	position: absolute;
	top: 30px;
	left: 610px;
}

.icon22 {
	position: absolute;
	top: 330px;
	left: 1070px;
}

.icon23 {
	position: absolute;
	top: 540px;
	left: 520px;
}

.icon24 {
	position: absolute;
	top: 420px;
	left: 90px;
}

.icon25 {
	position: absolute;
	top: 180px;
	left: 1210px;
}

.icon26 {
	position: absolute;
	top: 630px;
	left: 960px;
}

.af {
	position: absolute;
	top: 30px;
	left: 120px;
}

.br {
	position: absolute;
	top: 30px;
	left: 120px;
}

.pbr {
	position: absolute;
	top: 24px;
	left: 631px;
	width: 300px;
	height: 400px;
	color: rgb(255,255,255);
	line-height: 25px;
	font-family: Futura;
}

.bar1 {
	position: absolute;
	background-color: rgb(255,255,255);
	width: 300px;
	height: 4px;
	left: 632px;
	top: 30px;
}

.bar2 {
	position: absolute;
	background-color: rgb(255,255,255);
	width: 300px;
	height: 4px;
	left: 632px;
	top: 723px;
}

.background {
	position: absolute;
	background-image: url("bohemianrhapsody.jpg");
}

.arrow {
	position: absolute;
	top: 20px;
	left: 30px;
}

.also {
	position: absolute;
	top: 460px;
	left: 630px;
}

.r {
	position: absolute;
	font-family: Futura;
	color: white;
	top: 430px;
	left: 630px;
}

.y {
	position: absolute;
	top: 470px;
	left: 630px;
}

